<section>
    <div class="container">
        <div class="education">
            <div class="education__box_titles">
                <h2 class="education__title">Образование</h2>
                <p class="education__subtitle">Всю свою жизнь я был убежден в важности образования. Я стараюсь узнавать что-то новое каждый день.</p>
            </div>

            <div class="education__box_list">

                <div class="education__box_item" id="book-pattern">
                    <span class="education__item_img"><img src="./assets/images/book.png" alt="angular" height="15px"></span>
                    <span class="education__item_name">Погружение в паттерны проектирования (Александр Швец)</span>
                </div>

                <div class="education__box_item">
                    <span class="education__item_img"><img src="./assets/images/book.png" alt="angular" height="15px"></span>
                    <span class="education__item_name">Clean Code (Robert C Martin)</span>
                </div>

                <div class="education__box_item">
                    <span class="education__item_img"><img src="./assets/images/html5.png" alt="html5" height="15px"></span>
                    <span class="education__item_name">HTML5</span>
                    <span class="education__item_link"><a href="https://html5book.ru/html-html5/" id="html"></a></span>
                </div>

                <div class="education__box_item">
                    <span class="education__item_img"><img src="./assets/images/css3.png" alt="css3" height="20px"></span>
                    <span class="education__item_name">CSS3</span>
                    <span class="education__item_link"><a href="https://html5book.ru/css-css3/" id="css"></a></span>
                </div>

                <div class="education__box_item">
                    <span class="education__item_img"><img src="./assets/images/javascript.png" alt="javascript" height="14px"></span>
                    <span class="education__item_name">JavaScript</span>
                    <span class="education__item_link"><a href="https://learn.javascript.ru/" id="js"></a></span>
                </div>
                
                <div class="education__box_item">
                    <span class="education__item_img"><img src="./assets/images/rxjs.png" alt="rxjs" height="16px"></span>
                    <span class="education__item_name">RXJS</span>
                    <span class="education__item_link"><a href="https://rxjs-dev.firebaseapp.com/guide/overview" id="rxjs"></a></span>
                </div>
                
                <div class="education__box_item">
                    <span class="education__item_img"><img src="./assets/images/angular.png" alt="angular" height="16px"></span>
                    <span class="education__item_name">Angular</span>
                    <span class="education__item_link"><a href="https://angular.io/" id="angular"></a></span>
                </div>

                <div class="education__box_item">
                    <span class="education__item_img"><img src="./assets/images/react.png" alt="react" height="18px"></span>
                    <span class="education__item_name">React</span>
                    <span class="education__item_link"><a href="https://angular.io/" id="react"></a></span>
                </div>

                <div class="education__box_item">
                    <span class="education__item_img"><img src="./assets/images/vuejs.png" alt="vue" height="16px"></span>
                    <span class="education__item_name">Vue.js</span>
                    <span class="education__item_link"><a href="https://angular.io/" id="vuejs"></a></span>
                </div>

            </div>
 
        </div>
    </div>
</section>