<section>
    <div class="container">
        <div class="recommendation">
            <div class="recommendation__box_titles">
                <h2 class="recommendation__title">Рекомендации</h2>
                <p class="recommendation__subtitle">Посмотрите отзывы моих клиентов и убедитесь в качестве моих услуг.</p>
            </div>
            <div class="recommendation__box_recommendation">
                <p class="recommendation__recommendation">Я буду очень благодарен, если вы оставите	рекомендацию обо мне.</p>
            </div>
        </div>
    </div>
</section>