<div class="dialog__bg"></div>

<div class="dialog__box_absolute">
    <div class="dialog__box">
        <div class="dialog__box_content">

            <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
                <p class="dialog__title">Давайте работать вместе</p>
                <p class="dialog__subtitle">Вы работаете над чем-то большим? Я хотел бы помочь в этом! Напишите мне письмо и мы начнем свой проект прямо сейчас!</p>
                <div class="dialog__box_form">
                    <div class="dialog__box_input">
                        <div class="dialog__box_name">
                            <input type="text" placeholder="Имя" name="name" ngModel required #name="ngModel" class="dialog__name">
                        </div>
                        <div class="dialog__box_email">
                            <input type="text" placeholder="E-mail" email name="email" ngModel required #email="ngModel" class="dialog__email">
                        </div>
                    </div>
                    <div class="dialog__box_textarea">
                        <textarea placeholder="Сообщение" name="messages" ngModel required #messages="ngModel" class="dialog__textarea"></textarea>
                    </div>
                </div>
                <input type="submit" value="ОТПРАВИТЬ СООБЩЕНИЕ" class="dialog__btn_send">
                <a routerLink="/"><button class="dialog__btn_back">ВЕРНУТЬСЯ К РЕЗЮМЕ</button></a>
            </form>
        </div>
    </div>
</div>