<header>
    <div class="container">
      <div class="header__box">
        <div class="header__box_logo">
          <p class="header__logo"><span class="blue">Б</span>огдан</p>
        </div>
        <div class="header__box_ul">
          <ul>
            <li class="header__li"><a href="#hello" class="header__a">ПРИВЕТ</a></li>
            <li class="header__li"><a href="#skills" class="header__a">НАВЫКИ И УМЕНИЯ</a></li>
            <!-- <li class="header__li"><a href="#experience" class="header__a">ОПЫТ</a></li> -->
            <li class="header__li"><a href="#education" class="header__a">ОБРАЗОВАНИЕ</a></li>
            <li class="header__li"><a href="#description" class="header__a">ОПИСАНИЕ ПРОЕКТОВ</a></li>
            <li class="header__li"><a href="#portfolio" class="header__a">ПОРТФОЛИО</a></li>
            <li class="header__li"><a href="#recommendation" class="header__a">РЕКОМЕНДАЦИИ</a></li>
            <li class="header__li"><a href="#contact" class="header__a">СВЯЖИТЕСЬ СО МНОЙ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>