<section>
    <div class="container">
        <div class="experience">
            <div class="experience__box_titles">
                <h2 class="experience__title">Опыт</h2>
                <p class="experience__subtitle">Я только начинаю путь фронтенд-разработчика и очень желаю получить профессиональный опыт.</p>
            </div>
            <div class="experience__box_list">
                <p class="experience__list">Здесь будет отображаться моя история работ.</p>
            </div>
        </div>
    </div>
</section>