<section>
    <div class="container">

        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
            <div class="contact">
                <div class="contact__box_titles">
                    <h2 class="contact__title">Контакт</h2>
                    <p class="contact__subtitle">Вы работаете над чем-то большим? Я хотел бы помочь в этом! Напишите мне письмо и мы начнем свой проект прямо сейчас!</p>
                </div>
                <div class="contact__box_data">
                    <div class="contact__box_name">
                        <input type="text" placeholder="Имя" name="name" ngModel required #name="ngModel" class="contact__name">
                    </div>
                    <div class="contact__box_email">
                        <input type="text" placeholder="E-mail" email name="email" ngModel required #email="ngModel" class="contact__email">
                    </div>
                </div>
                <div class="contact__box_message">
                    <div class="contact__box_textarea">
                        <textarea placeholder="Сообщение" name="messages" ngModel required #messages="ngModel" class="contact__textarea"></textarea>
                    </div>
                    <input type="submit" [disabled]="contactForm.invalid" value="ОТПРАВИТЬ СООБЩЕНИЕ" class="contact__btn">
                </div>
            </div>
        </form>
    </div>
</section>