<section>
    <div class="container">
        <div class="portfolio">
            <h2 class="portfolio__title">Портфолио</h2>
            <div class="portfolio__box_cells">

                <div class="portfolio__cell">
                    <a href="https://BogdanMoskvitin.github.io/randomizer/" class="portfolio__link" target="_blank">
                        <img src="./assets/images/randomizer.png" alt="img" class="portfolio__img">
                        <p class="portfolio__name">Randomizer</p>
                        <p class="portfolio__date">2021</p>
                    </a>
                </div>

                <div class="portfolio__cell">
                    <a href="https://BogdanMoskvitin.github.io/weather/" class="portfolio__link" target="_blank">
                        <img src="./assets/images/weather.png" alt="img" class="portfolio__img">
                        <p class="portfolio__name">Weather</p>
                        <p class="portfolio__date">2021</p>
                    </a>
                </div>

                <div class="portfolio__cell">
                    <a href="https://BogdanMoskvitin.github.io/card/" class="portfolio__link" target="_blank">
                        <img src="./assets/images/card.png" alt="img" class="portfolio__img">
                        <p class="portfolio__name">Card</p>
                        <p class="portfolio__date">2021</p>
                    </a>
                </div>

                <div class="portfolio__cell">
                    <a href="https://BogdanMoskvitin.github.io/ecostyle/" class="portfolio__link" target="_blank">
                        <img src="./assets/images/ecostyle.JPG" alt="img" class="portfolio__img">
                        <p class="portfolio__name">Ecostyle</p>
                        <p class="portfolio__date">2021</p>
                    </a>
                </div>

                <div class="portfolio__cell">
                    <a href="https://BogdanMoskvitin.github.io/giphy/" class="portfolio__link" target="_blank">
                        <img src="./assets/images/giphy.JPG" alt="img" class="portfolio__img">
                        <p class="portfolio__name">Giphy</p>
                        <p class="portfolio__date">2021</p>
                    </a>
                </div>

                <div class="portfolio__cell">
                    <a href="https://BogdanMoskvitin.github.io/stavmus/" class="portfolio__link" target="_blank">
                        <img src="./assets/images/stavmus.JPG" alt="img" class="portfolio__img">
                        <p class="portfolio__name">StavMus</p>
                        <p class="portfolio__date">2021</p>
                    </a>
                </div>

                <div class="portfolio__cell">
                    <a href="" class="portfolio__link" target="_blank">
                        <img src="./assets/images/portfolio.jpg" alt="img" class="portfolio__img">
                        <p class="portfolio__name">XXX</p>
                        <p class="portfolio__date">XXXX</p>
                    </a>
                </div>

                <div class="portfolio__cell">
                    <a href="" class="portfolio__link" target="_blank">
                        <img src="./assets/images/portfolio.jpg" alt="img" class="portfolio__img">
                        <p class="portfolio__name">XXX</p>
                        <p class="portfolio__date">XXXX</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>