<section>
    <div class="container">
        <div class="portfolio">
            <h2 class="portfolio__title">Портфолио</h2>
            <div class="portfolio__box_cells">

                <div class="portfolio__cell">
                    <a href="http://utm-feature.middleware.monitor-utm.ru/" class="portfolio__link" target="_blank">
                        <div class="portfolio__box_img">
                            <img src="./assets/images/utm.jpg" alt="img" class="portfolio__img">
                        </div>
                        <p class="portfolio__name">lk-utm</p>
                        <p class="portfolio__date">2022</p>
                    </a>
                </div>

                <div class="portfolio__cell">
                    <a href="https://freeteamclub.ru/" class="portfolio__link" target="_blank">
                        <div class="portfolio__box_img">
                            <img src="./assets/images/freeteamclub.jpg" alt="img" class="portfolio__img">
                        </div>
                        <p class="portfolio__name">FreeTeamClub</p>
                        <p class="portfolio__date">2022</p>
                    </a>
                </div>

                <div class="portfolio__cell">
                    <a href="https://BogdanMoskvitin.github.io/ecostyle/" class="portfolio__link" target="_blank">
                        <div class="portfolio__box_img">
                            <img src="./assets/images/ecostyle.JPG" alt="img" class="portfolio__img">
                        </div>
                        <p class="portfolio__name">Ecostyle</p>
                        <p class="portfolio__date">2021</p>
                    </a>
                </div>

                <div class="portfolio__cell">
                    <a href="https://BogdanMoskvitin.github.io/card/" class="portfolio__link" target="_blank">
                        <div class="portfolio__box_img">
                            <img src="./assets/images/card.png" alt="img" class="portfolio__img">
                        </div>
                        <p class="portfolio__name">Card</p>
                        <p class="portfolio__date">2021</p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>