<section>
    <div class="container">
      <div class="hello">
        <div class="hello__box_content">
          <h1 class="hello__title">Богдан Москвитин</h1>
          <p class="hello__subtitle">Занимаюсь фронтенд разработкой. В настоящий момент ищу возможности применять полученные знания и опыт в вашей дружной компании. Будем делиться опытом и достигать невероятных результатов вместе.</p>
          <div class="hello__info">
            <p class="hello__box_phone">
              <span class="hello__title_phone">ТЕЛЕФОН</span>
              <a href="tel:+79034096461" class="hello__number_phone">8-903-409-64-61</a>
            </p>
            <p class="hello__box_email">
              <span class="hello__title_email">EMAIL</span>
              <a href="mailto:moskvitin.bg@gmail.com" class="hello__adress_email">moskvitin.bg@gmail.com</a>
            </p>
            <p class="hello__box_adress">
              <span class="hello__title_adress">АДРЕС</span>
              <span class="hello__data_adress">Ставрополь Россия</span>
            </p>
            <p class="hello__box_social">
              <span class="hello__title_social">СОЦИАЛЬНОЕ</span>
              <span class="hello__icons_social">
                <a href="https://www.instagram.com/moskvitin.bg/" target="_blank" class="hello__icon">
                  <img src="./assets/images/instagram.svg" alt="Instagram" height="17px">
                </a>
                <a href="https://github.com/BogdanMoskvitin/" target="_blank" class="hello__icon">
                  <img src="./assets/images/github.svg" alt="GitHub" height="17px">
                </a>
                <a href="https://vk.com/moskvitin_bg/" target="_blank" class="hello__icon">
                  <img src="./assets/images/vk.svg" alt="VK" height="17px">
                </a>
                <a href="https://t.me/bogdan_moskvitin/" target="_blank" class="hello__icon">
                  <img src="./assets/images/telegram.svg" alt="Telegram" height="17px">
                </a>
              </span>
            </p>
          </div>
          <div class="hello__box_btns">
            <a routerLink="/dialog"><button class="hello__contact_btn">СВЯЖИТЕСЬ СО МНОЙ</button></a>
            <a href="./assets/BogdanMoskvitin.pdf" download><button class="hello__download_btn">СКАЧАТЬ РЕЗЮМЕ</button></a>
          </div>
        </div>
        <div class="hello__box_img">
          <img class="hello__img" src="./assets/images/avatar.jpg" alt="avatar">
        </div>  
      </div>
    </div>
  </section>