section {
    padding-bottom: 10px;
}
.description {
    margin: 0 -15px;
}
.description__title {
    padding: 0 15px;
    margin-bottom: 20px;
}
.description__cell {
    display: flex;
    padding: 0 15px 30px 15px;
}
@media(max-width: 990px) {
    .description__cell {
        flex-wrap: wrap;
    }
}
.description__link {
    display: block;
    text-decoration: none;
}
.description__box_img {
    display: inline-block;
    overflow: hidden;
}
.description__box_img .description__img {
    transition: .5s;
    display: block;
}
.description__box_img .description__img:hover {
    transform: scale(1.2);
}
.description__img {
    margin-bottom: 10px; 
    max-width: 270px;
}
@media(max-width: 990px) {
    .description__img {
        max-width: 100%;
    }
}
@media(max-width: 1200px) {
    .description__img {
        width: 212.5px;
    }
}
@media(max-width: 990px) {
    .description__img {
        width: 340px;
    }
}
@media(max-width: 740px) {
    .description__img {
        width: 100%;
    }
}
.description__name {
    margin-bottom: 2px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
    margin: 0 0 10px 30px;
}
.description__date {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
}
.description__subtitle {
    margin: 0 0 10px 30px;
}
@media(max-width: 990px) {
    .description__name {
        margin: 0 0 10px 0;
    }
    .description__subtitle {
        margin: 0 0 10px 0;
    }
}