<section>
    <div class="container">
        <div class="description">

            <h2 class="description__title">Описание проектов</h2>

            <div class="description__cell">
                <a href="http://utm-feature.middleware.monitor-utm.ru/" class="description__link" target="_blank">
                    <div class="description__box_img">
                        <img src="./assets/images/utm.jpg" alt="img" class="description__img">
                    </div>
                </a>
                <div>
                    <p class="description__name">lk-utm <span class="description__date">2022</span></p>
                    <p class="description__subtitle">Мой первый, коммерческий проект.</p>
                    <p class="description__subtitle">Разработка велась с командой ООО "ИТКН" с ноября 2021 по Апрель 2022</p>    
                </div>
            </div>
            

            <div class="description__cell">
                <a href="https://freeteamclub.ru/" class="description__link" target="_blank">
                    <div class="description__box_img">
                        <img src="./assets/images/freeteamclub.jpg" alt="img" class="description__img">
                    </div>
                </a>
                <div>
                    <p class="description__name">FreeTeamClub <span class="description__date">2022</span></p>
                    <p class="description__subtitle">Крупный любительский проект.</p>
                    <p class="description__subtitle">Разрабатывается с целью поддержать спортивное командное комьюнити.</p>    
                </div>
            </div>
            
        </div>
    </div>
</section>