<section>
    <div class="container">
        <div class="description">

            <h2 class="description__title">Описание проектов</h2>

            <div class="description__cell">
                <a href="https://BogdanMoskvitin.github.io/vue-date-of-death/" class="description__link" target="_blank">
                    <div class="description__box_img">
                        <img src="./assets/images/vue-date-of-death.png" alt="img" class="description__img">
                    </div>
                </a>
                <div>
                    <p class="description__name">Date Of Death <span class="description__date">2021</span></p>
                    <p class="description__subtitle">Создавая это приложение, я научился пользоваться фреймворком: Vue.js.</p>
                    <p class="description__subtitle">Была сложность передать значение переменной между компонентами одного уровня. Я решил эту задачу используя Vuex как глобальное хранилище.</p>    
                </div>
            </div>
            

            <div class="description__cell">
                <a href="https://BogdanMoskvitin.github.io/react-adress/" class="description__link" target="_blank">
                    <div class="description__box_img">
                        <img src="./assets/images/react-adress.png" alt="img" class="description__img">
                    </div>
                </a>
                <div>
                    <p class="description__name">Adress <span class="description__date">2021</span></p>
                    <p class="description__subtitle">Создавая это приложение, я научился пользоваться фреймворком: React.</p>
                    <p class="description__subtitle">Научился пользоваться fetch запросами. Также, удалось вывести и стилизовать JSON данные.</p>    
                </div>
            </div>
            
        </div>
    </div>
</section>